@import url('https://fonts.googleapis.com/css2?family=Cutive&family=DotGothic16&family=Geist+Mono:wght@100..900&display=swap');


@font-face {
    font-family: minecraft;
    src: url('../fonts/minecraft.otf') format('opentype');

}

* {
    padding: 0;
    margin: 0;
    background-color: white;

}

header {
    font-family: "minecraft", sans-serif;
    font-size: 20px;
}

nav ul {
    height: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 100px 0 0;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}


.hire {
    text-align: center;
    margin-top: 130px;
    font-size: 25px;
    font-family: "DotGothic16", "Josefin Sans";
    letter-spacing: 5px;
}


.mail{
    height: 23vh;
    text-align: center;
    margin-top: 50px;
    font-size: 13px;
    font-family: "minecraft", "Josefin Sans";
    letter-spacing: 5px;
    font-weight: 600;
    opacity: 0.8;
}