@import url('https://fonts.googleapis.com/css2?family=Cutive&family=DotGothic16&family=Geist+Mono:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: white;

}
header{
    font-family: "DotGothic16", sans-serif;
}

nav ul{
    height: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 130px 0 0;
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.colomn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

img{
    max-width: 100%;
    width: auto;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
}

.photo img{
    flex-wrap: wrap;
    width: 320px;
    height: 300px;
    margin: 10px 0;
    object-fit: cover;
    aspect-ratio: 3;

}

.thumb img{
    flex-wrap: wrap;
    width: 480px;
    height: 300px;
    margin: 10px 0;
    object-fit: cover;
    aspect-ratio: 3;
}

.thumb{
    margin-right: 15px;
    margin-left: 15px;
}
