.btn:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.line {
    border-color: rgb(114, 114, 114);
    width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.copyright{
    text-align: center;
    margin-top:15px ;
    margin-bottom: 15px;
}

/* dropdown menu */

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 10px;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
}


@media (max-width:700px){

.photo{
    margin-right: 0px;
    height: 330px;
    width: 323px;
    object-fit: fill;
}

.thumb{
    margin-right: 0px;
}

nav ul{
    padding-right: 0;
    justify-content: center;
}

}