/* announcement bar */

.announce marquee{
    height: 30px;
    margin-top: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 19px;
}



.btn:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.line {
    border-color: rgb(114, 114, 114);
    width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.copyright{
    text-align: center;
    margin-top:15px ;
    margin-bottom: 15px;
    font-family: "Josefin Sans", sans-serif;
}

/* dropdown menu */

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 35px;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
    transition: 0.5s ;
}


@media (max-width:700px){

.photo{
    margin-right: 0px;
    height: 330px;
    width: 323px;
    object-fit: fill;
}

.thumb{
    margin-right: 0px;
}

nav ul{
    padding-right: 0;
    justify-content: center;
}

}




/* scorllbar  */

::-webkit-scrollbar {
    width: 10px;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(68, 67, 67);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    margin-top: 50px;
    margin-bottom: 50px;
}
